---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Fen. All rights reserved.
	<div class="social-links">
		<a href="https://instagram.com/fen_lz" target="_blank">
			<span class="sr-only">Follow fen on Instagram</span>
	<svg viewBox="0 0 16 16" aria-hidden="true" width="20" height="20" astro-icon="social/instagram"
				><path
					fill="currentColor"
					d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.703.01 5.556 0 5.828 0 8c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.527.478.974.923 1.418.444.445.891.718 1.418.923.509.198 1.09.333 1.942.372C5.556 15.99 5.828 16 8 16c2.172 0 2.444-.01 3.297-.048.852-.04 1.433-.174 1.942-.372a3.93 3.93 0 0 0 1.418-.923 3.93 3.93 0 0 0 .923-1.418c.198-.509.333-1.09.372-1.942C15.99 10.444 16 10.172 16 8c0-2.172-.01-2.444-.048-3.297-.04-.852-.174-1.433-.372-1.942a3.93 3.93 0 0 0-.923-1.418A3.93 3.93 0 0 0 13.239.42c-.509-.198-1.09-.333-1.942-.372C10.444.01 10.172 0 8 0zm0 1.441c2.136 0 2.389.008 3.232.046.78.036 1.204.166 1.486.276.374.145.641.319.922.6.282.281.456.548.601.922.11.282.24.707.276 1.486.038.843.046 1.096.046 3.232s-.008 2.389-.046 3.232c-.036.78-.166 1.204-.276 1.486a2.49 2.49 0 0 1-.6.922 2.49 2.49 0 0 1-.923.601c-.282.11-.707.24-1.486.276-.843.038-1.096.046-3.232.046s-2.389-.008-3.232-.046c-.78-.036-1.204-.166-1.486-.276a2.49 2.49 0 0 1-.922-.6 2.49 2.49 0 0 1-.601-.923c-.11-.282-.24-.707-.276-1.486C1.449 10.39 1.441 10.136 1.441 8s.008-2.389.046-3.232c.036-.78.166-1.204.276-1.486.145-.374.319-.641.6-.922.281-.282.548-.456.922-.601.282-.11.707-.24 1.486-.276.843-.038 1.096-.046 3.232-.046zm0 2.454A4.105 4.105 0 1 0 8 12.105 4.105 4.105 0 0 0 8 3.895zm0 6.77A2.665 2.665 0 1 1 8 5.335a2.665 2.665 0 0 1 0 5.33zm4.27-7.845a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92z"
				></path></svg
			>
		</a>
		<a href="https://www.linkedin.com/in/kai-chun-ma/" target="_blank">
			<span class="sr-only">Connect with fen on LinkedIn</span>
	<svg viewBox="0 0 16 16" aria-hidden="true" width="20" height="20" astro-icon="social/linkedin"
				><path
					fill="currentColor"
					d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 13.363V6.169H2.162v8.34h2.78zm-1.39-9.479c.969 0 1.572-.643 1.572-1.447-.018-.822-.603-1.447-1.554-1.447C2.62 2.136 2 2.761 2 3.583c0 .804.602 1.447 1.535 1.447h.018zm10.284 9.479v-4.65c0-2.49-1.328-3.648-3.099-3.648-1.429 0-2.068.788-2.426 1.341V6.169H5.53c.037.914 0 8.34 0 8.34h2.782v-4.658c0-.249.018-.498.091-.676.2-.498.658-1.014 1.426-1.014 1.006 0 1.408.765 1.408 1.887v4.461h2.78z"
				></path></svg
			>
		</a>
		<a href="https://github.com/kcma1225" target="_blank">
			<span class="sr-only">Go to fen's GitHub</span>
	<svg viewBox="0 0 16 16" aria-hidden="true" width="20" height="20" astro-icon="social/github"
				><path
					fill="currentColor"
					d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
				></path></svg
			>
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
		font-size: 0.8rem;
	}
	:global(html[data-theme='dark']) footer {
		background: rgb(var(--surface));
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
